<%unless pictures.pictures.empty?%>
<% content_for :naglowki do  %>
  <%= stylesheet_link_tag "galleriffic-2.css"%>
  <%= javascript_include_tag "jquery.galleriffic.js"%>
  <%= javascript_include_tag "jquery.opacityrollover.js"%>
  <!-- We only want the thunbnails to display when javascript is disabled -->
  <script type="text/javascript">
    document.write('<style>.noscript { display: none; }</style>');
  </script>
<%end%>
<div id="page">
  <div id="container">

    <!-- Start Advanced Gallery Html Containers -->
    <div id="gallery" class="content">
      <div id="controls" class="controls"></div>
      <div class="slideshow-container">
        <div id="loading" class="loader"></div>
        <div id="slideshow" class="slideshow"></div>
      </div>
      <div id="caption" class="caption-container"></div>
    </div>
    <div id="thumbs" class="navigation">

      <ul class="thumbs noscript">


        <%pictures.pictures.each do |p| %>


        <li>
            <a class="thumb" name="leaf" href="<%=p.file.url(:medium)%>" title="">
              <%= image_tag p.file.url(:thumb) %>
            </a>
            <div class="caption">
              <div class="download">
                <a href="<%=p.file.url%>"><%="Pobierz oryginalne zdjęcie"%></a>
              </div>
              <div class="image-title"></div>
              <div class="image-desc"></div>
            </div>
          </li>
        <%end%>

      </ul>


    </div>
    <div style="clear: both;"></div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
     $('#prawa').hide();
     $('#lewa').css('width','95%');
      $('#lewa_inner').css('border','0');

    // We only want these styles applied when javascript is enabled
    $('div.navigation').css({'width' : '300px', 'float' : 'left'});
    $('div.content').css('display', 'block');

    // Initially set opacity on thumbs and add
    // additional styling for hover effect on thumbs
    var onMouseOutOpacity = 0.67;
    $('#thumbs ul.thumbs li').opacityrollover({
      mouseOutOpacity:   onMouseOutOpacity,
      mouseOverOpacity:  1.0,
      fadeSpeed:         'fast',
      exemptionSelector: '.selected'
    });

    // Initialize Advanced Galleriffic Gallery
    var gallery = $('#thumbs').galleriffic({
      delay:                     2500,
      numThumbs:                 15,
      preloadAhead:              10,
      enableTopPager:            true,
      enableBottomPager:         true,
      maxPagesToShow:            7,
      imageContainerSel:         '#slideshow',
      controlsContainerSel:      '#controls',
      captionContainerSel:       '#caption',
      loadingContainerSel:       '#loading',
      renderSSControls:          true,
      renderNavControls:         true,
      playLinkText:              'Uruchom pokaz',
      pauseLinkText:             'Zatrzymaj pokaz',
      prevLinkText:              '&lsaquo; Poprzedni',
      nextLinkText:              'Następny &rsaquo;',
      nextPageLinkText:          'Następny  &rsaquo;',
      prevPageLinkText:          '&lsaquo; Poprzedni ',
      enableHistory:             false,
      autoStart:                 false,
      syncTransitions:           true,
      defaultTransitionDuration: 900,
      onSlideChange:             function(prevIndex, nextIndex) {
        // 'this' refers to the gallery, which is an extension of $('#thumbs')
        this.find('ul.thumbs').children()
        .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
        .eq(nextIndex).fadeTo('fast', 1.0);
      },
      onPageTransitionOut:       function(callback) {
        this.fadeTo('fast', 0.0, callback);
      },
      onPageTransitionIn:        function() {
        this.fadeTo('fast', 1.0);
      }
    });
  });


</script>
<%end%>
