<h1>Artykuły</h1>
<%= link_to 'Nowy Artykuł', new_article_path ,:class=>"btn btn-success"%>

<br />
<br />
<table  class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.created_at.strftime("%Y-%m-%d") %></td>
    <td><%= link_to 'Pokaż', article , :class=>"btn btn-info"%></td>
    <td><%= link_to 'Edytuj', edit_article_path(article), :class=>"btn btn-success" %></td>
    <td><%= link_to 'Usuń', article, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-warning"%></td>
  </tr>
<% end %>
</table>

<br />
<%=will_paginate @articles%>


