

<h1> <%=  "#{@user.title} #{@user.name}" %></h1>

<p id="notice"><%= notice %></p>



<p>
  <b>Imię i nazwisko:</b>
  <%=  "#{@user.title} #{@user.name}" %>
</p>



<%if has_role('admin') %>
<%if not @user.roles.empty?%>
<p><b>Role:</b><ul>
  <%@user.roles.each do |r|%>
  <li><%=r.name%></li>
  <%end%>
</ul></p>
<%end%>
<%  end %>

<%if admin_or_dziekan%>
<%= link_to 'Edytuj', edit_user_path(@user),:class=>"btn btn-success" %>
<%end%>

<%= link_to "Użytkownicy" ,users_path ,:class=>"btn btn-info"%>