<!DOCTYPE html>
<html>
<head>
  <title>Fssp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%#= javascript_include_tag "jquery-1.7.1.min"%>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%=yield :naglowki%>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34641881-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<%= render "layouts/powiadomienia"%>
<%= render :partial=>'layouts/adm_menu' if current_user %>

<article id="naglowek">
  <div id="naglowek_inner">
  <header id="naglowek_top">
     <%=render :partial=>"layouts/menu_gora"%>
    </ul>
  </header>
  <div id="naglowek_center">
    <h2>Bractwo Kapłańskie Świętego Piotra</h2>
    <h3>Duszpasterstwo wiernych Liturgii Łacińskiej</h3>
    <h4>Polska</h4>
    <%= image_tag "fssp_sancti.png" %>
  </div>
  <div id="naglowek_menu">
    
      <%=render :partial=>"layouts/menu",:object=>"fssp" %>
   
  </div>
  </div>
</article>
<article id="glowna">
  <div id="glowna_inner">
    <section id="lewa">
      <div id="lewa_inner">
        <%= yield %>
      </div>
    </section>
    <aside id="prawa">
      <div id="prawa_inner">
        <%=render :partial=>"articles/article_simple",:object=>Article.where(["title=?","fssp.pl"]).first%>
      </div>
    </aside>
    <div class="clear"></div>
  </div>
</article>
 <%= render :partial=>"layouts/stopka" %>
</body>
</html>
